<div class="container">
  <div class="row h-100 justify-content-center">
    <div class="col-lg-6 text-center">
      <h1>Your Rooms</h1>

      <ul class="list-group mb-3">
        <%= render @rooms %>
      </ul>

      <%= link_to "Create a Room", new_room_path, class: "btn btn-salmon" %>
    </div>
  </div>
</div>


