<div class="container h-75 w-100">
  <div class="row h-100 justify-content-center align-items-center">
      <div class="col-lg-6 text-center">
        <h1>Create a Room</h1>
        <div class="card mt-3 mb-3 p-5">
          <div class="card-block">
            <%= render 'form' %>
          </div>
        </div>
      </div>
  </div>
</div>
